<div class="univtop header" id="header">
	<div class="container">
		<div class="row">
			<a href="{{url('home')}}" id="segment_header__logo"></a>

			<div id="segment_header__actions">
				<a href="#signup" class="univtop button" id="segment_header__actions__item_login" data-target="modal-login">Login</a>
			</div>

			<div id="segment_header__menu">
				<a href="{{url('list_question')}}" class="item">Question</a>
				<a href="{{url('about')}}" class="item">About us</a>
				<a href="{{url('contact')}}" class="item">Contact</a>
				<a href="{{url('download')}}" class="item">Download</a>
			</div>
		</div>
	</div>
</div>