{% extends base_template %}

{% block bodyClass %}page-about-us{% endblock %}

{% block content %}
<div id="segment_1">
    <div class="container">
        <div class="row">
            <div class="header">
                <div class="title">About Us</div>
            </div>
            <div class="body">
                <p>Univtop is a multi-platform application that will enable students to get insights to plan for their future. Our application allows users to share thoughts with a like-minded community, and to create opportunities by networking with friends and mentors.</p>
                <p>Our mission is to...</p>
                <p>Univtop is a multi-platform application that will enable students to get insights to plan for their future. Our application allows users to share thoughts with a like-minded community, and to create opportunities by networking with friends and mentors. Univtop is a multi-platform application that will enable students to get insights to plan for their future. Our application allows users to share thoughts with a like-minded community, and to create opportunities by networking with friends and mentors.</p>
            </div>
        </div>
    </div>
</div>

<div id="segment_2">
    <div class="container">
        <div class="row">
            <div class="header">
                <div class="title">Our team</div>
            </div>
            <div class="body">
                <div class="list">
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('css/prod/images/demo/pages/about-us/segment-2.avatar-1.png')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Stephanie</div>
                                <div class="meta position">Team Leader</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('css/prod/images/demo/pages/about-us/segment-2.avatar-1.png')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Stephanie</div>
                                <div class="meta position">Team Leader</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('css/prod/images/demo/pages/about-us/segment-2.avatar-1.png')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Stephanie</div>
                                <div class="meta position">Team Leader</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('css/prod/images/demo/pages/about-us/segment-2.avatar-1.png')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Stephanie</div>
                                <div class="meta position">Team Leader</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('css/prod/images/demo/pages/about-us/segment-2.avatar-1.png')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Stephanie</div>
                                <div class="meta position">Team Leader</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('css/prod/images/demo/pages/about-us/segment-2.avatar-1.png')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Stephanie</div>
                                <div class="meta position">Team Leader</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('css/prod/images/demo/pages/about-us/segment-2.avatar-1.png')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Stephanie</div>
                                <div class="meta position">Team Leader</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('css/prod/images/demo/pages/about-us/segment-2.avatar-1.png')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Stephanie</div>
                                <div class="meta position">Team Leader</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('css/prod/images/demo/pages/about-us/segment-2.avatar-1.png')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Stephanie</div>
                                <div class="meta position">Team Leader</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}