{% extends base_template %}

{% block bodyClass %}page-contact{% endblock %}

{% block content %}

<div id="segment_1"></div>
<div id="segment_2">
    <div class="container">
        <div class="row">
            <div class="header">
                <h1 class="title">Contact us</h1>
                <div class="subtitle">We want to hear from you!</div>
            </div>
            <div class="body">
                <div class="row">
                    <div class="column">
                        <div id="segment_2__segment_info">
                            <div class="body">
                                <div class="list">
                                    <div class="item email">
                                        <div class="icon"></div>
                                        <div class="text">
                                            <a href="mailto:contact@univtop.com">contact@univtop.com</a>
                                        </div>
                                    </div>
                                    <div class="item phone">
                                        <div class="icon"></div>
                                        <div class="text">
                                            <a href="tel:+65 0000 0000">+65 0000 0000</a>
                                        </div>
                                    </div>
                                    <div class="item location">
                                        <div class="icon"></div>
                                        <div class="text">
                                            California, US
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <form class="form" id="segment_2__form">
                            <p>Or send a correspondence:</p>
                            <div class="group">
                                <div class="field">
                                    <input type="text" id="segment_2_form__input_name" name="name" placeholder="Name"/>
                                </div>
                            </div>
                            <div class="group">
                                <div class="field">
                                    <input type="text" id="segment_2_form__input_email" name="email" placeholder="Email"/>
                                </div>
                            </div>
                            <div class="group">
                                <div class="field">
                                    <input type="text" id="segment_2_form__input_subject" name="subject" placeholder="Subject"/>
                                </div>
                            </div>
                            <div class="group">
                                <div class="field">
                                    <textarea name="message" id="segment_2_form__input_message" cols="30" rows="10" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="group error">
                                <div class="list"></div>
                            </div>
                            <div class="group">
                                <div class="field text-right">
                                    <button class="univtop button" type="submit">Send!</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}