/**
 * - Page: Home -
 * ==============
 */
.page-home #header {
  background-image: none;
}

.page-home #segment_1 {
  height: 700px;
  background-repeat: no-repeat;
  background-image: url('https://d1aiy1qufjcdnj.cloudfront.net/css/prod/images/pages/home/segment-1.background.jpg');
  background-position: bottom center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-top: -84px;
  padding-top: 84px;ƒ
  position: relative;
}

.page-home #segment_1 #segment_1__blurred_logo {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.page-home #segment_1 #segment_1__text_1 {
  color: #636363 !important;
  text-align: center;
  font-size: 24px;
  letter-spacing: -0.6px;
}

.page-home #segment_1 #segment_1__text_2 {
  text-align: center;
  text-transform: uppercase;
  color: #58C4C7 !important;
  margin: 0 auto;
  margin-top: 24px;
  font-size: 64px;
  width: 400px;
  line-height: 80px;
}

.page-home #segment_1 #segment_1__form_ask {
  width: 416px;
  position: relative;
  margin: 0 auto;
  margin-top: 16px;
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border-radius: 8px;
  border-color: transparent;
  box-shadow: none;
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input:-ms-input-placeholder {
  color: #999;
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input::-webkit-input-placeholder {
  color: #999;
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input::-ms-expand {
  border: 0;
  background-color: transparent;
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input[disabled],
.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input[readonly],
fieldset[disabled] .page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input {
  background-color: #eeeeee;
  opacity: 1;
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input[disabled],
fieldset[disabled] .page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input {
  cursor: not-allowed;
}

textarea.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__input {
  height: auto;
}

.page-home #segment_1 #segment_1__form_ask #segment_1__form_ask__submit {
  background-color: #3DB883 !important;
  color: #FFFFFF !important;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 8px 8px 0;
  line-height: 20px;
}

.page-home #segment_1 #segment_1__toggle_scroll_down {
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.page-home #segment_2 {
  padding-top: 88px;
  padding-bottom: 72px;
}

.page-home #segment_2 #segment_2__text_1 {
  text-transform: uppercase;
  text-align: center;
  color: #58C4C7 !important;
  font-size: 34px;
  line-height: 34px;
}

.page-home #segment_2 #segment_2__text_2 {
  text-align: center;
  color: #636363 !important;
  font-size: 21px;
}

.page-home #segment_2 #segment_2__slogans {
  margin-top: 32px;
}

.page-home #segment_2 #segment_2__slogans .item {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .page-home #segment_2 #segment_2__slogans .item {
    float: left;
    width: 33.33333333%;
  }
}

.page-home #segment_2 #segment_2__slogans .item > .thumbnail {
  border-radius: 0;
  padding: 0;
  margin-bottom: 44px;
  border: none;
}

.page-home #segment_2 #segment_2__slogans .item > .text {
  font-size: 20px;
}

.page-home #segment_3 {
  background-color: #FCF2E9 !important;
  padding: 40px 0;
}

.page-home #segment_3 #segment_3__testimonials > .item {
  position: relative;
  padding: 40px 0;
}

.page-home #segment_3 #segment_3__testimonials > .item:after {
  content: '';
  height: 1px;
  width: 280px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #3DB883 !important;
}

.page-home #segment_3 #segment_3__testimonials > .item > .text {
  color: #929292 !important;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  margin-bottom: 36px;
}

.page-home #segment_3 #segment_3__testimonials > .item > .avatar {
  margin: 0 auto;
  width: 168px;
}

.page-home #segment_3 #segment_3__testimonials > .item > .avatar:before,
.page-home #segment_3 #segment_3__testimonials > .item > .avatar:after {
  content: " ";
  display: table;
}

.page-home #segment_3 #segment_3__testimonials > .item > .avatar:after {
  clear: both;
}

.page-home #segment_3 #segment_3__testimonials > .item > .avatar:before,
.page-home #segment_3 #segment_3__testimonials > .item > .avatar:after {
  content: " ";
  display: table;
}

.page-home #segment_3 #segment_3__testimonials > .item > .avatar:after {
  clear: both;
}

.page-home #segment_3 #segment_3__testimonials > .item > .avatar > .image {
  float: left !important;
  margin-right: 16px;
}

.page-home #segment_3 #segment_3__testimonials > .item > .avatar > .info {
  float: left !important;
  padding-top: 16px;
  font-size: 16px;
}

.page-home #segment_3 #segment_3__testimonials > .item > .avatar > .info > .name {
  color: #58C4C7 !important;
}

.page-home #segment_3 #segment_3__testimonials > .item > .avatar > .info > .meta.location {
  color: #929292 !important;
}

.page-home #segment_3 #segment_3__testimonials > .item:last-child:after {
  content: none;
}

.page-home #segment_4 {
  padding: 56px 0;
}

.page-home #segment_4 #segment_4__button_container {
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}

.page-home #segment_4 #segment_4__button_container:after {
  content: '';
  height: 1px;
  width: 90px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #3DB883 !important;
}

.page-home #segment_4 #segment_4__button_container #segment_4__button_container__button_register {
  background-color: #3DB883 !important;
  color: #FFFFFF !important;
  width: 170px;
  border-radius: 12px;
}

.page-home #segment_4 #segment_4__button_container #segment_4__button_container__button_register > .title {
  font-size: 24px;
  line-height: 30px;
}

.page-home #segment_4 #segment_4__button_container #segment_4__button_container__button_register > .subtitle {
  font-size: 16px;
  line-height: 13px;
}

.page-home #segment_4 #segment_4__top_contributors {
  padding-top: 54px;
}

.page-home #segment_4 #segment_4__top_contributors > .header > .title {
  display: inline;
  font-size: 26px;
  color: #E99D63 !important;
  text-transform: uppercase;
  margin-right: 24px;
}

.page-home #segment_4 #segment_4__top_contributors > .header > .subtitle {
  display: inline;
  font-size: 16px;
}

.page-home #segment_4 #segment_4__top_contributors > .body {
  padding-top: 20px;
}

.page-home #segment_4 #segment_4__top_contributors > .body > .list > .item {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .page-home #segment_4 #segment_4__top_contributors > .body > .list > .item {
    float: left;
    width: 33.33333333%;
  }
}

.page-home #segment_4 #segment_4__top_contributors > .body > .list > .item > .avatar > .image {
  float: left !important;
  width: 86px;
  height: 86px;
  border-radius: 44px;
  border: 16px solid #E8E8E7;
}

.page-home #segment_4 #segment_4__top_contributors > .body > .list > .item > .avatar > .image > img {
  border-radius: 27px;
}

.page-home #segment_4 #segment_4__top_contributors > .body > .list > .item > .avatar > .info {
  float: left !important;
  /*margin-left: -6px;*/
  margin-left: 10px;
  padding-top: 16px;
}

.page-home #segment_4 #segment_4__top_contributors > .body > .list > .item > .avatar > .info > .line-1 {
  line-height: 18px;
}

.page-home #segment_4 #segment_4__top_contributors > .body > .list > .item > .avatar > .info > .line-1 > .meta.name {
  color: #58C4C7 !important;
  font-size: 17px;
}

.page-home #segment_4 #segment_4__top_contributors > .body > .list > .item > .avatar > .info > .line-1 > .meta.location {
  font-size: 12px;
}

.page-home #segment_4 #segment_4__top_contributors > .body > .list > .item > .avatar > .info > .line-2 {
  font-size: 12px;
}

.page-home #segment_4 #segment_4__top_contributors > .body > .list > .item > .avatar > .info > .line-3 > .tag.follow {
  font-size: 10px;
  width: 64px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  color: #FFFFFF !important;
  background-color: #BAC7BD;
  text-align: center;
  text-transform: uppercase;
}


/**
 * - Page: Download -
 * ==============
 */
.page-download #segment_1,
.page-download #segment_3 {
  height: 60px;
  background-repeat: no-repeat;
  background-image: url('https://d1aiy1qufjcdnj.cloudfront.net/css/prod/images/pages/contact/segment-1.background.png');
  background-position: top center;
  -webkit-background-size: 100% 60px;
  background-size: 100% 60px;
}

.page-download #segment_2 {
  text-align: center;
  padding: 100px 0;
}

.page-download #segment_2 > .header {
  margin-bottom: 30px;
}

.page-download #segment_2 > .header > .title {
  font-weight: 300 !important;
  text-transform: uppercase;
  color: #0E8787 !important;
  font-size: 52px;
  line-height: 56px;
  margin-bottom: 5px;
}

.page-download #segment_2 > .header > .subtitle {
  font-size: 17px;
  line-height: 20px;
}

.page-download #segment_2 > .body > #segment_2__list > .item {
  padding: 0 35px;
}

.page-download #segment_2 > .body > #segment_2__list > .item > img {
  height: 72px;
  border-radius: 8px;
}