/**
 * - Settings: Typography -
 * ========================
 */

//colors
@color-transparent: transparent;
@color-white: #FFFFFF;
@color-black: #000000;

@color-dove-gray: #636363;
@color-fountain-blue: #58C4C7;
@color-porsche: #E99D63;
@color-ocean-green: #3DB883;
@color-silver-chalice: #A5A5A5;
@color-gray: #929292;
@color-linen: #FCF2E9;
@color-blue-chill: #0E8787;

@color-indochine: #B06C00;
@color-monza: #D60C0C;
@color-persian-red: #C63829;
@color-cod-gray: #111111;
@color-mine-shaft: #333333;

@color-dusty-gray: #999999;
@color-blaze-orange: #FF6602;
@color-white-linen: #FBF7F2;
@color-lochmara: #0388CD;
@color-polar: #F4F9FD;
@color-viking: #5CB6E2;
@color-tory-blue: #105AA6;
@color-concrete: #F3F3F3;
@color-supernova: #FFCD0E;
@color-tree-poppy: #FB9B11;
@color-kobi: #EB9FCF;
@color-cashmere: #E8C5A5;
@color-comet: #565B70;
@color-storm-gray: #666B7E;
@color-aluminium: #A7A9B2;
@color-pomegranate: #F44336;
@color-amber: #fec006;
@color-mountain-meadow: #189688;
@color-san-marino: #3E50B4;
@color-amaranth: #E91D62;
@color-orange: #FC5721;
@color-roman-coffee: #795547;
@color-pear: #CDDC39;
@color-froly: #F06292;
@color-lynch: #607D8B;
@color-denim: #1565C0;
@color-apple: #43A047;
@color-mystic: #e4eaee;
@color-saffron: #F8B93E;
@color-sushi: #7CB342;
@color-jungle-green: #2BAFA4;
@color-di-serria: #DDAA62;
@color-eastern-blue: #23ABBB;
@color-fuchsia-pink: #CA64C2;
@color-japonica: #D2845E;
@color-persian-pink: #F57AA5;
@color-keppel: #3BB0A5;
@color-carnation: #F87062;
@color-blue-violet: #6170BC;
@color-robins-egg-blue: #00BDD2;
@color-fern: #66BB6A;
@color-flame-pea: #E15744;
@color-athens-gray: #EAECEF;
@color-silver: #CBCBCB;
@color-wild-sand: #F6F6F6;
@color-alizarin-crimson: #EA281C;
@color-gallery: #EFEFEF;
@color-mercury: #E4E4E4;
@color-woodsmoke: #0C0B0F;
@color-cinnabar: #E64A19;
@color-alto: #E0E0E0;

/**
 * Text classes
 */
.text-transparent{color:@color-transparent!important}
.text-white{color:@color-white!important}
.text-black{color:@color-black!important}

.text-dove-gray{color:@color-dove-gray!important}
.text-fountain-blue{color:@color-fountain-blue!important}
.text-porsche{color:@color-porsche!important}
.text-ocean-green{color:@color-ocean-green!important}
.text-silver-chalice{color:@color-silver-chalice!important}
.text-gray{color:@color-gray!important}
.text-linen{color:@color-linen!important}
.text-blue-chill{color:@color-blue-chill!important}

.text-indochine{color:@color-indochine!important}
.text-monza{color:@color-monza!important}
.text-persian-red{color:@color-persian-red!important}
.text-cod-gray{color:@color-cod-gray!important}
.text-mine-shaft{color:@color-mine-shaft!important}
.text-dusty-gray{color:@color-dusty-gray!important}
.text-blaze-orange{color:@color-blaze-orange!important}
.text-white-linen{color:@color-white-linen!important}
.text-lochmara{color:@color-lochmara!important}
.text-polar{color:@color-polar!important}
.text-viking{color:@color-viking!important}
.text-tory-blue{color:@color-tory-blue!important}
.text-concrete{color:@color-concrete!important}
.text-supernova{color:@color-supernova!important}
.text-tree-poppy{color:@color-tree-poppy!important}
.text-kobi{color:@color-kobi!important}
.text-cashmere{color:@color-cashmere!important}
.text-comet{color:@color-comet!important}
.text-storm-gray{color:@color-storm-gray!important}
.text-aluminium{color:@color-aluminium!important}
.text-pomegranate{color:@color-pomegranate!important}
.text-amber{color:@color-amber!important}
.text-mountain-meadow{color:@color-mountain-meadow!important}
.text-san-marino{color:@color-san-marino!important}
.text-amaranth{color:@color-amaranth!important}
.text-orange{color:@color-orange!important}
.text-roman-coffee{color:@color-roman-coffee!important}
.text-pear{color:@color-pear!important}
.text-froly{color:@color-froly!important}
.text-lynch{color:@color-lynch!important}
.text-denim{color:@color-denim!important}
.text-apple{color:@color-apple!important}
.text-mystic{color:@color-mystic!important}
.text-saffron{color:@color-saffron!important}
.text-sushi{color:@color-sushi!important}
.text-jungle-green{color:@color-jungle-green!important}
.text-di-serria{color:@color-di-serria!important}
.text-eastern-blue{color:@color-eastern-blue!important}
.text-fuchsia-pink{color:@color-fuchsia-pink!important}
.text-japonica{color:@color-japonica!important}
.text-persian-pink{color:@color-persian-pink!important}
.text-keppel{color:@color-keppel!important}
.text-carnation{color:@color-carnation!important}
.text-blue-violet{color:@color-blue-violet!important}
.text-robins-egg-blue{color:@color-robins-egg-blue!important}
.text-fern{color:@color-fern!important}
.text-flame-pea{color:@color-flame-pea!important}
.text-athens-gray{color:@color-athens-gray!important}
.text-silver{color:@color-silver!important}
.text-wild-sand{color:@color-wild-sand!important}
.text-alizarin-crimson{color:@color-alizarin-crimson!important}
.text-gallery{color:@color-gallery!important}
.text-mercury{color:@color-mercury!important}
.text-woodsmoke{color:@color-woodsmoke!important}
.text-cinnabar{color:@color-cinnabar!important}
.text-alto{color:@color-alto!important}

/**
 * Background classes
 */
.bg-transparent{background-color:@color-transparent!important}
.bg-white{background-color:@color-white!important}
.bg-black{background-color:@color-black!important}

.bg-dove-gray{background-color:@color-dove-gray!important}
.bg-fountain-blue{background-color:@color-fountain-blue!important}
.bg-porsche{background-color:@color-porsche!important}
.bg-ocean-green{background-color:@color-ocean-green!important}
.bg-silver-chalice{background-color:@color-silver-chalice!important}
.bg-gray{background-color:@color-gray!important}
.bg-linen{background-color:@color-linen!important}
.bg-blue-chill{background-color:@color-blue-chill!important}

.bg-indochine{background-color:@color-indochine!important}
.bg-monza{background-color:@color-monza!important}
.bg-persian-red{background-color:@color-persian-red!important}
.bg-cod-gray{background-color:@color-cod-gray!important}
.bg-mine-shaft{background-color:@color-mine-shaft!important}
.bg-dusty-gray{background-color:@color-dusty-gray!important}
.bg-blaze-orange{background-color:@color-blaze-orange!important}
.bg-white-linen{background-color:@color-white-linen!important}
.bg-lochmara{background-color:@color-lochmara!important}
.bg-polar{background-color:@color-polar!important}
.bg-viking{background-color:@color-viking!important}
.bg-tory-blue{background-color:@color-tory-blue!important}
.bg-concrete{background-color:@color-concrete!important}
.bg-supernova{background-color:@color-supernova!important}
.bg-tree-poppy{background-color:@color-tree-poppy!important}
.bg-kobi{background-color:@color-kobi!important}
.bg-cashmere{background-color:@color-cashmere!important}
.bg-comet{background-color:@color-comet!important}
.bg-storm-gray{background-color:@color-storm-gray!important}
.bg-aluminium{background-color:@color-aluminium!important}
.bg-pomegranate{background-color:@color-pomegranate!important}
.bg-amber{background-color:@color-amber!important}
.bg-mountain-meadow{background-color:@color-mountain-meadow!important}
.bg-san-marino{background-color:@color-san-marino!important}
.bg-amaranth{background-color:@color-amaranth!important}
.bg-orange{background-color:@color-orange!important}
.bg-roman-coffee{background-color:@color-roman-coffee!important}
.bg-pear{background-color:@color-pear!important}
.bg-froly{background-color:@color-froly!important}
.bg-lynch{background-color:@color-lynch!important}
.bg-denim{background-color:@color-denim!important}
.bg-apple{background-color:@color-apple!important}
.bg-mystic{background-color:@color-mystic!important}
.bg-saffron{background-color:@color-saffron!important}
.bg-sushi{background-color:@color-sushi!important}
.bg-jungle-green{background-color:@color-jungle-green!important}
.bg-di-serria{background-color:@color-di-serria!important}
.bg-eastern-blue{background-color:@color-eastern-blue!important}
.bg-fuchsia-pink{background-color:@color-fuchsia-pink!important}
.bg-japonica{background-color:@color-japonica!important}
.bg-persian-pink{background-color:@color-persian-pink!important}
.bg-keppel{background-color:@color-keppel!important}
.bg-carnation{background-color:@color-carnation!important}
.bg-blue-violet{background-color:@color-blue-violet!important}
.bg-robins-egg-blue{background-color:@color-robins-egg-blue!important}
.bg-fern{background-color:@color-fern!important}
.bg-flame-pea{background-color:@color-flame-pea!important}
.bg-athens-gray{background-color:@color-athens-gray!important}
.bg-silver{background-color:@color-silver!important}
.bg-wild-sand{background-color:@color-wild-sand!important}
.bg-alizarin-crimson{background-color:@color-alizarin-crimson!important}
.bg-gallery{background-color:@color-gallery!important}
.bg-mercury{background-color:@color-mercury!important}
.bg-woodsmoke{background-color:@color-woodsmoke!important}
.bg-cinnabar{background-color:@color-cinnabar!important}
.bg-alto{background-color:@color-alto!important}

// ............................................................
// .for

.for(@i, @n) {.-each(@i)}
.for(@n)     when (isnumber(@n)) {.for(1, @n)}
.for(@i, @n) when not (@i = @n)  {
  .for((@i + (@n - @i) / abs(@n - @i)), @n);
}

// ............................................................
// .for-each

.for(@array)   when (default()) {.for-impl_(length(@array))}
.for-impl_(@i) when (@i > 1)    {.for-impl_((@i - 1))}
.for-impl_(@i) when (@i > 0)    {.-each(extract(@array, @i))}

@colors: color-alto, color-cinnabar, color-mercury;

.for(@colors); .-each(@name) {
  &.@{name} {background: @@name}
}

//mixins
.bg-(@color){
  background-color: @color!important;
}
.text-(@color){
  color: @color!important;
}