/**
 * - Settings: Helpers -
 * =====================
 * @todo: helpers								/helpers.less
 */

/**
 * @done: helpers								/helpers.less
 */
.left{
  .pull-left;
}
.right{
  .pull-right;
}
.center{
  margin: 0 auto;
}

//remove dotted line around elements when click
a:focus, a:active,
button,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    outline: none !important;
}