#header {
  height: 84px;
  padding: 10px 0;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-image: url('https://d1aiy1qufjcdnj.cloudfront.net/css/prod/images/modules/header/background.png');
  background-position: top center;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#header #segment_header__logo {
  float: left !important;
  width: 136px;
  height: 64px;
  background-repeat: no-repeat;
  background-image: url('https://d1aiy1qufjcdnj.cloudfront.net/css/prod/images/logo.png');
  background-position: left center;
}

#header #segment_header__actions {
  float: right !important;
  height: 64px;
  line-height: 64px;
  margin-left: 59px;
}

#header #segment_header__actions #segment_header__actions__item_signup {
  background-color: #3DB883 !important;
  color: #FFFFFF !important;
  text-transform: uppercase;
  font-size: 16px;
  height: 28px;
  padding: 5px 8px;
  line-height: 18px;
  border-radius: 8px;
}

#header #segment_header__actions #segment_header__actions__item_login {
  background-color: #F8B64D;
  background: -webkit-gradient(linear, left top, left bottom, from(#F8B64D), to(#F09B60));
  background: -webkit-linear-gradient(top, #F8B64D, #F09B60);
  background: -moz-linear-gradient(top, #F8B64D, #F09B60);
  background: -ms-linear-gradient(top, #F8B64D, #F09B60);
  background: -o-linear-gradient(top, #F8B64D, #F09B60);
  color: #FFFFFF !important;
  text-transform: uppercase;
  font-size: 16px;
  height: 28px;
  padding: 5px 8px;
  line-height: 18px;
  border-radius: 8px;
}

#header #segment_header__menu {
  float: right !important;
  height: 64px;
  line-height: 64px;
}

#header #segment_header__menu > .item {
  text-transform: uppercase;
  color: #A5A5A5 !important;
  font-size: 16px;
  display: inline-block;
  line-height: 36px;
  height: 32px;
  vertical-align: middle;
  padding: 0 12px;
  text-decoration: none;
  letter-spacing: -0.8px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#header #segment_header__menu > .item.active,
#header #segment_header__menu > .item:hover {
  color: #58C4C7 !important;
  opacity: 0.6;
}