.question {
  background-color: #FFFFFF !important;
  padding: 25px 60px;
  border-radius: 4px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.question .univtop.card {
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  flex-wrap: wrap;
}

.question .univtop.card:before,
.question .univtop.card:after {
  content: " ";
  display: table;
}

.question .univtop.card:after {
  clear: both;
}

.question .univtop.card:before,
.question .univtop.card:after {
  content: " ";
  display: table;
}

.question .univtop.card:after {
  clear: both;
}

.question .univtop.card > .thumbnail {
  flex: 0 1 auto;
  text-align: center;
  margin-right: 25px;
}

.question .univtop.card > .content {
  flex: 1;
  padding-bottom: 10px;
}

.question .univtop.card > .content > .segment > .header {
  margin-bottom: 10px;
}

.question .univtop.card > .content > .segment > .header:before,
.question .univtop.card > .content > .segment > .header:after {
  content: " ";
  display: table;
}

.question .univtop.card > .content > .segment > .header:after {
  clear: both;
}

.question .univtop.card > .content > .segment > .header:before,
.question .univtop.card > .content > .segment > .header:after {
  content: " ";
  display: table;
}

.question .univtop.card > .content > .segment > .header:after {
  clear: both;
}

.question .univtop.card > .content > .segment > .header > .meta.time {
  display: inline;
  vertical-align: middle;
}

.question .univtop.card > .content > .segment > .header > .tags {
  display: inline;
  vertical-align: middle;
}

.question .univtop.card > .content > .segment > .header > .tags > .tag {
  background-color: #EBECED !important;
  color: #727273 !important;
  font-size: 11px;
  height: 18px;
  line-height: 18px;
  border-radius: 9px;
  padding: 0 8px;
  cursor: pointer;
  display: inline-block;
}

.question .univtop.card > .content > .segment > .header > .actions {
  float: right !important;
}

.question .univtop.card > .content > .segment > .header > .actions a[data-action=follow] {
  background-color: #A2A4A7 !important;
  color: #FFFFFF !important;
  display: inline-block;
  padding: 0 15px;
  line-height: 18px;
  height: 18px;
  text-decoration: none;
}

.question .univtop.card > .content > .segment > .header > .actions a[data-action=follow][data-is-followed="1"] {
  background-color: #F09A60 !important;
}

.question .univtop.card > .content > .segment > .body {
  margin-bottom: 10px;
}

.question .univtop.card > .content > .segment > .body > .summary {
  color: #636363 !important;
  font-size: 14px;
  margin-bottom: 10px;
}

.question .univtop.card > .content > .segment > .body > .extra.text {
  color: #9B9C9B !important;
  font-size: 13px;
}

.question .univtop.card > .content > .segment > .footer > .label {
  font-weight: 400 !important;
  color: #9B9C9B !important;
  font-size: 12px;
  display: inline-block;
  line-height: 22px;
  padding: 0;
}

.question .univtop.card > .content > .segment > .footer > .label > .icon {
  vertical-align: bottom;
}

.question .univtop.card > .answers {
  border-top: 1px solid #DDDDDC;
  flex: 0 1 100%;
  padding-left: 16px;
  padding-top: 10px;
}

.question .univtop.card > .answers > .item {
  padding: 10px 0;
}

.question .univtop.card form[data-form=reply] {
  flex: 0 1 100%;
  padding-top: 10px;
}

.question .univtop.card form[data-form=reply] .avatar.field {
  text-align: center;
  margin-right: 16px;
  color: #58C4C7 !important;
}

.question .univtop.card form[data-form=reply] .input.field {
  flex: 1;
}

.question .univtop.card form[data-form=reply] .input.field textarea {
  height: 100px;
  resize: vertical;
}

.question .univtop.card form[data-form=reply] .input.field button {
  color: #FFFFFF !important;
  background-color: #F8B64D;
  background: -webkit-gradient(linear, left top, left bottom, from(#F8B64D), to(#F09B60));
  background: -webkit-linear-gradient(top, #F8B64D, #F09B60);
  background: -moz-linear-gradient(top, #F8B64D, #F09B60);
  background: -ms-linear-gradient(top, #F8B64D, #F09B60);
  background: -o-linear-gradient(top, #F8B64D, #F09B60);
  height: 36px;
  line-height: 24px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  padding: 0 25px;
}