<!DOCTYPE html>
<html>
<head>

    {% block title %}
        <title> {{SITE_NAME|title}} - Home </title>
    {% endblock %}

    {% block meta %}
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Copyright" content="{{SITE_NAME}} LLC" />
        <meta name="keywords" content="{{SITE_KEYWORD}}" />        
        <meta name="description" content="{{SITE_DESCRIPTION}} " />
    {% endblock %}
    <link rel="icon" href="{{static('img/ico/favicon.ico')}}" type="image/x-icon" />

    {{load_common_css()|safe}}

    {% block header_css %}
        
        {{load_final_level_css()|safe}}

    {% endblock %}

    {% block header_scripts %}
    {% endblock %}

</head>
<body class="layout-base {% block bodyClass %}{% endblock %}" id="{% block bodyId %}{% endblock %}">

    {% block header %} 
        {% include ["sites/" + template_type + "/common/header" + TEMPLATE_FILE_EXTENSION] ignore missing %}
    {% endblock %}

    {% if request_message %}
        {{ request_message }}
    {% endif %}

    {% block content %} 
    {% endblock %} 

    {% block footer %}
        {% include ["sites/" + template_type + "/common/footer" + TEMPLATE_FILE_EXTENSION] ignore missing %}
    {% endblock %}

    <div id='modal_section'> 
        {% block modal %}        
        {% endblock %}
    </div>

    <div id="hidden_section">
        {% if user_login %}
            <input type='hidden' id='is_user_login' value="True">
            <input type='hidden' id='user_login_username' value='{{user_login.username}}'>
        {% else %}
            <input type='hidden' id='is_user_login' value='False'>
        {% endif %}

        {% block hidden %}
        {% endblock %}     

    </div>
       
    
    {% block footer_script %} 

        {% block footer_plugin_scripts %}
        {% endblock %}

        {{load_common_js()|safe}}

        {% block footer_external_scripts %} {% endblock %}
        
        {% block footer_internal_scripts %} 
            {{load_final_level_js()|safe}}
        {% endblock %}

        {% block footer_custom_scripts %} {% endblock %}
        
    {% endblock %}

</body>
</html>
