/**
 * - Layout: Base -
 * ================
 */
html{
  height: 100%;
  position: relative;
}

body{
  .text-dove-gray;
  font-family: FuturaPT-Book, sans-serif;
  min-height: 100%;
  position: relative;
  padding-bottom: @footer-height;
}

.overlay{
  background-repeat: no-repeat;
  background-image: url('@{image-uri-base}/demo/overlay.jpg');
  width: 1201px;
  height: 2462px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;

  opacity: 0;
  display: none;
}

a{
  .text-fountain-blue;

  &:hover{
    opacity: 0.8;
    text-decoration: none;
  }
}