/**
 * - Module: Footer -
 * ==================
 */
//default
@footer-height: 280px;

.@{namespace}.footer{}

.@{namespace}.footer{
  background-color: #E8E8E7;
  height: @footer-height;
  padding: 40px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  >.container{
    >.row{
      >.header{
        >.title{
          .text-uppercase;
          .text-blue-chill;
          font-size: 23px;
        }
      }
    }
  }
}