/*
 * - Module: Header -
 * ==================
 */
//default
.@{namespace}.header{

}

#header{
  height: 84px;
  padding: 10px 0;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-image: url('@{image-uri-base}/modules/header/background.png');
  background-position: top center;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;

  #segment_header__logo{
    .left;

    width: 136px;
    height: 64px;

    background-repeat: no-repeat;
    background-image: url('@{image-uri-base}/logo.png');
    background-position: left center;
  }

  #segment_header__actions{
    .right;
    height: 64px;
    line-height: 64px;
    margin-left: 59px;

    #segment_header__actions__item_signup{
      .bg-ocean-green;
      .text-white;
      .text-uppercase;
      font-size: 16px;
      height: 28px;
      padding: 5px 8px;
      line-height: 18px;
      border-radius: 8px;
    }

    #segment_header__actions__item_login{
      .gradient(#F8B64D, #F09B60);
      .text-white;
      .text-uppercase;
      font-size: 16px;
      height: 28px;
      padding: 5px 8px;
      line-height: 18px;
      border-radius: 8px;
    }
  }

  #segment_header__menu{
    .right;
    height: 64px;
    line-height: 64px;

    >.item{
      .text-uppercase;
      .text-silver-chalice;
      font-size: 16px;

      display: inline-block;
      line-height: 36px;
      height: 32px;
      vertical-align: middle;
      padding: 0 12px;

      text-decoration: none;
      letter-spacing:-0.8px;

      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;

      &.active,
      &:hover{
        .text-fountain-blue;
        opacity: 0.6;
      }
    }
  }
}