/**
 * - Module: Question -
 * ====================
 */
.question{}

.question{
  .bg-white;

  padding: 25px 60px;
  border-radius: 4px;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.2);
  margin-bottom: 20px;

  .@{namespace}.card{
    .clearfix;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    flex-wrap: wrap;

    >.thumbnail{
      flex: 0 1 auto;
      .text-center;
      margin-right: 25px;

      >img{
        max-width: 72px;
      }
    }
    >.content{
      flex: 1;
      padding-bottom: 10px;

      >.segment{
        >.header{
          .clearfix;
          margin-bottom: 10px;

          >.meta.time{
            display: inline;
            vertical-align: middle;
          }
          >.tags{
            display: inline;
            vertical-align: middle;

            >.tag{
              .bg-(#EBECED);
              .text-(#727273);
              font-size: 11px;
              height: 18px;
              line-height: 18px;
              border-radius: 9px;
              padding: 0 8px;
              cursor: pointer;
              display: inline-block;
            }
          }
          >.actions{
            .right;
            a[data-action=follow]{
              .bg-(#A2A4A7);
              .text-white;
              display: inline-block;
              padding: 0 15px;
              line-height: 18px;
              height: 18px;
              text-decoration: none;

              &[data-is-followed="1"]{
                .bg-(#F09A60);
              }
            }
          }
        }
        >.body{
          margin-bottom: 10px;

          >.summary{
            .text-(#636363);
            font-size: 14px;
            margin-bottom: 10px;
          }
          >.extra.text{
            .text-(#9B9C9B);
            font-size: 13px;
          }
        }
        >.footer{
          >.label{
            .text-normal;
            .text-(#9B9C9B);
            font-size: 12px;
            display: inline-block;
            line-height: 22px;
            padding: 0;

            >.icon{
              vertical-align: bottom;
            }
          }
        }
      }
    }

    >.answers{
      border-top: 1px solid #DDDDDC;
      flex: 0 1 100%;
      padding-left: 16px;
      padding-top: 10px;

      >.item{
        padding: 10px 0;
      }
    }
    form[data-form=reply]{
      flex: 0 1 100%;
      padding-top: 10px;

      .avatar.field{
        .text-center;
        margin-right: 16px;
        .text-fountain-blue;
      }

      .input.field{
        flex: 1;

        textarea{
          height: 100px;
          resize: vertical;
        }

        button{
          .text-white;
          .gradient(#F8B64D, #F09B60);
          height: 36px;
          line-height: 24px;
          font-size: 20px;
          border: none;
          border-radius: 8px;
          padding: 0 25px;
        }
      }
    }
  }
}