/**
 * - Page: Profile -
 * =================
 */

.page-profile {
  background-image: url('https://d1aiy1qufjcdnj.cloudfront.net/css/prod/images/pages/question/background.jpg');
}

.page-profile #segment_1 {
  background-repeat: no-repeat;
  background-image: url('https://d1aiy1qufjcdnj.cloudfront.net/css/prod/images/pages/profile/segment-1.background.png');
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 200px;
  padding-top: 45px;
}

.page-profile #segment_1 > .container > .row #segment_1__segment_statistics {
  color: #FFFFFF !important;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .page-profile #segment_1 > .container > .row #segment_1__segment_statistics {
    float: left;
    width: 75%;
  }
}

@media (min-width: 992px) {
  .page-profile #segment_1 > .container > .row #segment_1__segment_statistics {
    margin-left: 25%;
  }
}

.page-profile #segment_1 > .container > .row #segment_1__segment_statistics > .list {
  display: flex;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  align-content: center;
  margin-bottom: 35px;
}

.page-profile #segment_1 > .container > .row #segment_1__segment_statistics > .list > .item {
  flex: 0 1 100%;
  text-align: center;
}

.page-profile #segment_1 > .container > .row #segment_1__segment_statistics > .list > .item > .univtop.statistic {
  color: #FFFFFF !important;
}

.page-profile #segment_1 > .container > .row #segment_1__segment_statistics a {
  color: #FFFFFF !important;
}

.page-profile #segment_1 > .container > .row #segment_1__segment_statistics a[data-action=follow] {
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 2px;
  padding: 3px 15px;
}

.page-profile #segment_2 {
  background-color: #FFFFFF !important;
}

.page-profile #segment_2 > .container > .row #segment_2__menu {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #FFFFFF !important;
  width: 500px;
  height: 48px;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  border-radius: 5px;
  padding: 0 10px;
}

@media (min-width: 992px) {
  .page-profile #segment_2 > .container > .row #segment_2__menu {
    float: left;
    width: 75%;
  }
}

@media (min-width: 992px) {
  .page-profile #segment_2 > .container > .row #segment_2__menu {
    margin-left: 25%;
  }
}

.page-profile #segment_2 > .container > .row #segment_2__menu:before,
.page-profile #segment_2 > .container > .row #segment_2__menu:after {
  content: " ";
  display: table;
}

.page-profile #segment_2 > .container > .row #segment_2__menu:after {
  clear: both;
}

.page-profile #segment_2 > .container > .row #segment_2__menu:before,
.page-profile #segment_2 > .container > .row #segment_2__menu:after {
  content: " ";
  display: table;
}

.page-profile #segment_2 > .container > .row #segment_2__menu:after {
  clear: both;
}

.page-profile #segment_2 > .container > .row #segment_2__menu > .item {
  text-align: center;
  text-transform: uppercase;
  color: #D1D2D4 !important;
  flex: 0 1 auto;
  line-height: 48px;
  margin: 0 5px;
  padding: 0 15px;
  font-size: 18px;
  cursor: pointer;
}

.page-profile #segment_2 > .container > .row #segment_2__menu > .item.active,
.page-profile #segment_2 > .container > .row #segment_2__menu > .item:hover {
  color: #EE9960 !important;
  border-bottom: 4px solid #EE9960;
}

.page-profile #segment_3 {
  padding-top: 10px;
}

.page-profile #segment_3 > .container > .row #segment_3__segment_info {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -150px;
}

@media (min-width: 992px) {
  .page-profile #segment_3 > .container > .row #segment_3__segment_info {
    float: left;
    width: 25%;
  }
}

@media (max-width: 992px) {
  .page-profile #segment_3 > .container > .row #segment_3__segment_info {
    margin-top: 10px;
  }
}

.page-profile #segment_3 > .container > .row #segment_3__segment_info .univtop.card > .thumbnail {
  margin-bottom: 10px;
}

.page-profile #segment_3 > .container > .row #segment_3__segment_info .univtop.card > .content {
  background-color: #FFFFFF !important;
  padding: 80px 25px 25px 25px;
  margin-top: -80px;
  line-height: 25px;
}

.page-profile #segment_3 > .container > .row #segment_3__segment_info .univtop.card > .content > .meta.name {
  color: #58C4C7 !important;
  text-align: center;
  font-size: 26px;
}

.page-profile #segment_3 > .container > .row #segment_3__segment_info .univtop.card > .content > .meta.location {
  color: #A2A4A7 !important;
  background-repeat: no-repeat;
  background-image: url('https://d1aiy1qufjcdnj.cloudfront.net/css/prod/images/icons/location-picker-small.png');
  background-position: 2px center;
  padding-left: 20px;
}

.page-profile #segment_3 > .container > .row #segment_3__segment_info .univtop.card > .content > .meta.joined.date {
  color: #A2A4A7 !important;
}

.page-profile #segment_3 > .container > .row #segment_3__segment_questions {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .page-profile #segment_3 > .container > .row #segment_3__segment_questions {
    float: left;
    width: 75%;
  }
}

.page-profile #segment_3 > .container > .row #segment_3__segment_questions > .body #segment_3__segment_questions__tabs {
  margin: 0 auto;
}

.page-profile #segment_3 > .container > .row #segment_3__segment_questions > .body #segment_3__segment_questions__tabs > .tab {
  display: none;
}

.page-profile #segment_3 > .container > .row #segment_3__segment_questions > .body #segment_3__segment_questions__tabs > .tab > .list:before,
.page-profile #segment_3 > .container > .row #segment_3__segment_questions > .body #segment_3__segment_questions__tabs > .tab > .list:after {
  content: " ";
  display: table;
}

.page-profile #segment_3 > .container > .row #segment_3__segment_questions > .body #segment_3__segment_questions__tabs > .tab > .list:after {
  clear: both;
}

.page-profile #segment_3 > .container > .row #segment_3__segment_questions > .body #segment_3__segment_questions__tabs > .tab > .list:before,
.page-profile #segment_3 > .container > .row #segment_3__segment_questions > .body #segment_3__segment_questions__tabs > .tab > .list:after {
  content: " ";
  display: table;
}

.page-profile #segment_3 > .container > .row #segment_3__segment_questions > .body #segment_3__segment_questions__tabs > .tab > .list:after {
  clear: both;
}

.page-profile #segment_3 > .container > .row #segment_3__segment_questions > .body #segment_3__segment_questions__tabs > .tab > .list > .item[data-is-expanded="0"] > .univtop.card > .answers,
.page-profile #segment_3 > .container > .row #segment_3__segment_questions > .body #segment_3__segment_questions__tabs > .tab > .list > .item[data-is-expanded="0"] > .univtop.card > form {
  display: none;
  visibility: hidden;
}

.page-profile #segment_3 > .container > .row #segment_3__segment_questions > .body #segment_3__segment_questions__tabs > .tab > .list > .item[data-is-expanded="1"] > .univtop.card > .answers,
.page-profile #segment_3 > .container > .row #segment_3__segment_questions > .body #segment_3__segment_questions__tabs > .tab > .list > .item[data-is-expanded="1"] > .univtop.card > form {
  display: block;
  visibility: visible;
}

.page-profile #segment_3 > .container > .row #segment_3__segment_questions > .body #segment_3__segment_questions__tabs > .tab.active {
  display: block;
}