html {
  height: 100%;
  position: relative;
}

body {
  color: #636363 !important;
  font-family: FuturaPT-Book, sans-serif;
  min-height: 100%;
  position: relative;
  padding-bottom: 280px;
}

.overlay {
  background-repeat: no-repeat;
  background-image: url('https://d1aiy1qufjcdnj.cloudfront.net/css/prod/images/demo/overlay.jpg');
  width: 1201px;
  height: 2462px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  opacity: 0;
  display: none;
}

a {
  color: #58C4C7 !important;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
}