/**
 * - Page: About Us -
 * ==================
 */
.page-about-us{}

.page-about-us{
  #segment_1{
    .text-white;
    height: 554px;
    overflow: hidden;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-image: url('@{image-uri-base}/pages/about-us/segment-1.background.png');
    background-position: center center;
    -webkit-background-size:cover;
    background-size:cover;

    >.container{
      >.row{
        >.header{
          >.title{
            .text-medium;
            font-size: 28px;
            margin-bottom: 64px;
          }
        }
        >.body{
          font-size: 16px;

          p{
            margin-bottom: 24px;
          }
        }
      }
    }
  }

  #segment_2{
    >.container{
      .bg-white;
      padding: 64px 0 100px;

      .row{
        >.header{
          >.title{
            .text-uppercase;
            .text-(#0E8787);
            font-size: 56px;
            line-height: 56px;
            margin-bottom: 70px;
          }
        }
        >.body{
          >.list{
            .make-row;

            >.item{
              .make-sm-column(6);
              .make-md-column(4);
              margin-bottom: 50px;

              >.avatar{
                width: 100%;
                display: table;

                >.image{
                  .text-left;
                  display: table-cell;
                  width: 120px;
                }
                >.info{
                  .text-left;
                  display: table-cell;
                  padding-top: 20px;
                  vertical-align: top;

                  >.name{
                    .text-(#636363);
                    font-size: 20px;
                  }
                  >.meta{
                    .text-(#929292);
                    font-size: 18px;
                    padding-left: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #footer{
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url('@{image-uri-base}/pages/about-us/footer.background.png');
    -webkit-background-size: 100% 22px;
    background-size: 100% 22px;
  }
}