/**
 * - Page: Download -
 * ==================
 */
.page-download{}

.page-download {
  #segment_1,
  #segment_3{
    height: 60px;
    background-repeat: no-repeat;
    background-image: url('@{image-uri-base}/pages/contact/segment-1.background.png');
    background-position: top center;
    -webkit-background-size: 100% 60px;
    background-size: 100% 60px;
  }

  #segment_2{
    .text-center;
    padding: 100px 0;

    >.header{
      margin-bottom: 30px;
      >.title{
        .text-light;
        .text-uppercase;
        .text-blue-chill;
        font-size: 52px;
        line-height: 56px;
        margin-bottom: 5px;
      }
      >.subtitle{
        font-size: 17px;
        line-height: 20px;
      }
    }
    >.body{
      >#segment_2__list{
        >.item{
          padding: 0 35px;
          >img{
            height: 72px;
            border-radius: 8px;
          }
        }
      }
    }
  }
}