/**
 * - Page: Profile -
 * =================
 */
.page-profile{}

.page-profile{
  background-image: url('@{image-uri-base}/pages/question/background.jpg');

  #segment_1{
    background-repeat: no-repeat;
    background-image: url('@{image-uri-base}/pages/profile/segment-1.background.png');
    background-position: center center;
    -webkit-background-size:cover;
    background-size:cover;
    min-height: 200px;

    padding-top: 45px;

    >.container{
      >.row{
        #segment_1__segment_statistics{
          .text-white;

          .make-md-column(9);
          .make-md-column-offset(3);
          >.list{
            display: flex;
            flex-direction: row;
            -webkit-box-orient: horizontal;
            align-content: center;

            margin-bottom: 35px;

            >.item{
              flex: 0 1 100%;
              .text-center;

              >.@{namespace}.statistic{
                .text-white;
              }
            }
          }

          a{
            .text-white;
          }

          a[data-action=follow]{
            border: 1px solid @color-white;
            .text-uppercase;
            font-size: 14px;
            border-radius: 2px;
            padding: 3px 15px;
          }
        }
      }
    }
  }

  #segment_2{
    .bg-white;

    >.container{
      >.row{
        #segment_2__menu{
          .make-md-column(9);
          .make-md-column-offset(3);
          .clearfix;
          .bg-white;
          width: 500px;
          height: 48px;
          display: flex;
          -webkit-box-orient: horizontal;
          flex-direction: row;

          border-radius: 5px;
          padding: 0 10px;

          >.item{
            .text-center;
            .text-uppercase;
            .text-(#D1D2D4);
            flex: 0 1 auto;
            line-height: 48px;
            margin: 0 5px;
            padding: 0 15px;
            font-size: 18px;
            cursor: pointer;
          }

          >.item.active,
          >.item:hover{
            .text-(#EE9960);
            border-bottom: 4px solid #EE9960;
          }
        }
      }
    }
  }

  #segment_3{
    padding-top: 10px;

    >.container{
      >.row{

        #segment_3__segment_info{
          .make-md-column(3);
          margin-top: -150px;
          @media (max-width: @screen-md){
            margin-top: 10px;
          }

          .@{namespace}.card{
            >.thumbnail{
              margin-bottom: 10px;
            }
            >.content{
              .bg-white;
              padding: 80px 25px 25px 25px;
              margin-top: -80px;
              line-height: 25px;

              >.meta{}
              >.meta.name{
                .text-fountain-blue;
                .text-center;
                font-size: 26px;
              }
              >.meta.location{
                .text-(#A2A4A7);
                background-repeat: no-repeat;
                background-image: url('@{icon-uri-base}/location-picker-small.png');
                background-position: 2px center;
                padding-left: 20px;
              }
              >.meta.joined.date{
                .text-(#A2A4A7);
              }
            }
          }
        }

        #segment_3__segment_questions{
          .make-md-column(9);

          >.body{
            #segment_3__segment_questions__tabs{
              margin: 0 auto;
              >.tab{
                display: none;

                >.list{
                  .clearfix;

                  >.item{}

                  >.item[data-is-expanded="0"]{
                    >.@{namespace}.card{
                      >.answers,
                      >form{
                        display: none;
                        visibility: hidden;
                      }
                    }
                  }

                  >.item[data-is-expanded="1"]{
                    >.@{namespace}.card{
                      >.answers,
                      >form{
                        display: block;
                        visibility: visible;
                      }
                    }
                  }
                }
              }
              >.tab.active{
                display: block;
              }
            }
          }
        }
      }
    }
  }
}