<footer id='footer'>
	<div class='container'>
	      <div class='div-center'>
	            <ul id="menu_list" class='nav navbar-nav'>
	                  <li class='menu-item'>
	                        <h5>
	                              <a href="">About</a>
	                        </h5>
	                  </li>
	                  <li class='menu-item'>
	                        <h5>
	                              <a href="">Jobs</a>
	                        </h5>
	                  </li>
	                  <li class='menu-item'>
	                        <h5>
	                              <a href="">Blog</a>
	                        </h5>
	                  </li>
	                  <li class='menu-item'>
	                        <h5>
	                              <a href="">Trust & Safety</a>
	                        </h5>
	                  </li>
	                  <li class='menu-item'>
	                        <h5>
	                              <a href="">Term</a>
	                        </h5>
	                  </li>
	                  <li class='menu-item'>
	                        <h5>
	                              <a href="">Privacy</a>
	                        </h5>
	                  </li>
	                  <li class='menu-item'>
	                        <h5>
	                              <a href="">Help</a>
	                        </h5>
	                  </li>
	            </ul>
	      </div>
	      <!-- <div class='div-center'>
	            <ul id="social_list" class='nav navbar-nav'>
	                  <li class='social-item'>
	                        <a href="#">
	                              <i class='fa fa-twitter'></i>
	                        </a>
	                  </li>
	                  <li class='social-item'>
	                        <a href="#">
	                              <i class='fa fa-facebook'></i>
	                        </a>
	                  </li>
	                  <li class='social-item'>
	                        <a href="#">
	                              <i class='fa fa-linkedin'></i>
	                        </a>
	                  </li>
	                  <li class='social-item'>
	                        <a href="#">
	                              <i class='fa fa-youtube'></i>
	                        </a>
	                  </li>
	            </ul>
	      </div> -->
	      <div class='div-center'>
	            <span>© 2016 Univtop, LLC.</span>
	      </div>
 	</div>
</footer>

