<div class="univtop header" id="segment_header">
	<div class="container">
		<div class="row">
			<a href="" id="segment_header__logo"></a>

			<div id="segment_header__actions">
				<a href="#signup" class="univtop button" id="segment_header__actions__item_signup">Sign up</a>
			</div>

			<div id="segment_header__menu">
				<a href="#" class="item">Question</a>
				<a href="#" class="item">About us</a>
				<a href="#" class="item">Contact</a>
				<a href="#" class="item">Download</a>
			</div>
		</div>
	</div>
</div>