{% extends base_template %}

{% block bodyClass %}page-home{% endblock %}

{% block content %}

    <div id="segment_1">
        <div class="container">
            <div class="row">
                <div id="segment_1__blurred_logo">
                    <img src="{{static('css/prod/images/pages/home/segment-1.logo.png')}}" alt="">
                </div>
                <div id="segment_1__text_1">
                    Where International Students and Professionals Connect
                </div>
                <div id="segment_1__text_2">
                    Your future starts here
                </div>
                <div id="segment_1__form_ask">
                    <input type="text" id="segment_1__form_ask__input">
                    <button type="submit" id="segment_1__form_ask__submit" class="univtop button">Ask Question</button>
                </div>

                <div id="segment_1__toggle_scroll_down">
                    <a href="#" data-toggle="scrollDown">
                        <i class="univtop icon large arrow down"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div id="segment_2">
        <div id="segment_2__text_1">
            We make the process easier
        </div>
        <div id="segment_2__text_2">
            Best of all, it's free
        </div>
        <div id="segment_2__slogans">
            <div class="container">
                <div class="row">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="{{static('css/prod/images/pages/home/segment-2.thumbnail-1.png')}}" alt="">
                        </div>
                        <div class="text">Get insights from current students to help plan for your bright future</div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <img src="{{static('css/prod/images/pages/home/segment-2.thumbnail-2.png')}}" alt="">
                        </div>
                        <div class="text">Share your thoughts and express your questions with a like-minded community</div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <img src="{{static('css/prod/images/pages/home/segment-2.thumbnail-3.png')}}" alt="">
                        </div>
                        <div class="text">Create your opportunities by networking with professionals</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="segment_3">
        <div class="container">
            <div class="row">
                <div id="segment_3__testimonials">
                    <div class="item">
                        <div class="text">
                            "Univtop is a powerful platform and a great tool to utilize for any prospective international student. I was able to connect with current students that helped guide me through the college process"
                        </div>
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('css/prod/images/demo/pages/home/avatar-1.png')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Stephanie</div>
                                <div class="meta location">Seattle, WA</div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="text">
                            "Univtop is a powerful platform and a great tool to utilize for any prospective international student. I was able to connect with current students that helped guide me through the college process"
                        </div>
                        <div class="avatar">
                            <div class="image">
                                <img src="{{static('css/prod/images/demo/pages/home/avatar-1.png')}}" alt="">
                            </div>
                            <div class="info">
                                <div class="name">Stephanie</div>
                                <div class="meta location">Seattle, WA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="segment_4">
        <div class="container">
            <div class="row">
                <div id="segment_4__button_container">
                    <div class="univtop button" id="segment_4__button_container__button_register">
                        <div class="title">Get Started</div>
                        <div class="subtitle">It's free.</div>
                    </div>
                </div>
                <div id="segment_4__top_contributors">
                    <div class="header">
                        <div class="title">Top Contributors</div>
                        <div class="subtitle">View more</div>
                    </div>

                    <div class="body">
                        <div class="list">
                            <div class="item">
                                <div class="avatar">
                                    <div class="image">
                                        <img src="{{static('css/prod/images/demo/pages/home/avatar-2.jpg')}}" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="line-1">
                                            <span class="meta name">Judy H.</span>
                                            <span class="meta location">(Chicago, IL)</span>
                                        </div>
                                        <div class="line-2">
                                            <span class="meta subject">Computer Science</span>
                                        </div>
                                        <div class="line-3">
                                            <span class="tag follow">follow</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="avatar">
                                    <div class="image">
                                        <img src="{{static('css/prod/images/demo/pages/home/avatar-2.jpg')}}" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="line-1">
                                            <span class="meta name">Judy H.</span>
                                            <span class="meta location">(Chicago, IL)</span>
                                        </div>
                                        <div class="line-2">
                                            <span class="meta subject">Computer Science</span>
                                        </div>
                                        <div class="line-3">
                                            <span class="tag follow">follow</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="avatar">
                                    <div class="image">
                                        <img src="{{static('css/prod/images/demo/pages/home/avatar-2.jpg')}}" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="line-1">
                                            <span class="meta name">Judy H.</span>
                                            <span class="meta location">(Chicago, IL)</span>
                                        </div>
                                        <div class="line-2">
                                            <span class="meta subject">Computer Science</span>
                                        </div>
                                        <div class="line-3">
                                            <span class="tag follow">follow</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="overlay"></div>

{% endblock %}
