.univtop.footer {
  background-color: #E8E8E7;
  height: 280px;
  padding: 40px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.univtop.footer > .container > .row > .header > .title {
  text-transform: uppercase;
  color: #0E8787 !important;
  font-size: 23px;
}